.aboutUs{
    padding: 50px 100px;
}

.mainBody{
    font-size: 12pt;
    text-align: justify;
}

.firstPara{
    text-indent: 50px;
}

.secondPara{
    text-indent: 50px;
}

.thirdPara{
    text-indent: 50px;
}